*{
    padding: 0px;
    margin:0px;
    font-family: Arial, Helvetica, sans-serif;
}

div{
    padding-top: 1%;
    justify-content: center;
    text-align: center;
    padding-bottom: 1%;
}
#h1{
    color:brown;
    font-style: oblique;
    font-size: 2em;
}
ul{
    display: block;
    list-style-type: none;
    vertical-align:text-bottom;
}
input,input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
    height:5%;
    width: 20%;
    padding-right: 2%;
    padding-left: 9%;
    font-size: 1.5em;
    box-shadow: 5px 5px 5px;
    cursor:pointer;
}

#btn{
    height: 5%;
    width: 10%;
    background-color: blueviolet;
    color:white;
    font-weight: bolder;
    border-radius: 3px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
#btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#img{
    margin-top:0%;
    margin-bottom: -3%;
    height:60%
}
#footer{
    font-size: 1.5em;
    font-style: italic;
    color:brown;
}